.uibutton {
    background-color: #cccccc;
    color: #000000;
    border: none;
    outline: none; 
    padding: 0.7em 1.5em;
    margin: 0.5em;
    border-radius: 0.2em;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
    font-weight: bold;
    opacity: 0.8;
}

.uibutton:active {
    box-shadow: rgba(0,0,0,0.5) 0px 2px 5px;
}

.uibutton:hover {
    opacity: 1;
}

.uibutton--primary {
    background-color: #00FA9A;
    color: #000000;
}

.uibutton--primary:active {
    background-color: #00FF7F;
}

.uibutton--secondary {
    background-color: #ffff33;
    color: #000000;
}

.uibutton--secondary:active {
    background-color: #ffff99;
}

.uibutton:disabled {
    background-color: #cccccc;
    color: #999999;
    box-shadow: none;
}